.mf-appear {
    opacity: 0;
}

.mf-enter {
    opacity: 0;
}

.mf-enter-done {
    opacity: 1;
    transition: opacity 500ms;
}

.mf-exit {
    opacity: 1;
}

.mf-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.mf-exit-done {
    opacity: 0;
}

div.mf-wrapper {
    /* Set position */
    position: fixed;
    /* Calculate position from the top left corner */
    top: 40%;
    left: 50%;
    /* Pull div back with half of its width and height */
    transform: translate(-50%, -50%);
    /* Create border */
    /* border: 1px solid hsl(0, 4%, 81%); */
    border-radius: 5px;
    /* Create shadow effect */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.11);
    /* Set width */
    /* width: 45%; */
    width: 500px;
    /* Setup Grid */
    display: grid;
    /* Set 3 rows and 3 columns */
    grid-template-columns: 2fr 14fr 2fr;
    grid-template-rows: 70px auto 10px 80px;
    font-size: 1em;
    /* align-items: center; */
    min-height: 35%;
    background: white;
    overflow-x: hidden;
}

div.mf-small {
    /* width: 25%; */
    width: 300px;
}

div.mf-medium {
    width: 800px;
}

div.mf-large {
    width: 800px;
}

div.mf-xl {
    width: 1140px;
}

div.mf-header-area {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: #ebebeb;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

.mf-header-area>h3 {
    margin: 0;
    padding: 0;
    font-size: 1.7em;
    color: rgba(0, 0, 0, .7);
}

.closeBtn {
    height: 25px;
    width: 25px;
    background: grey;
    text-align: center;
}

.mf-content-area {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.mf-progress-area {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
}

span.mf-dots {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

span.mf-dots.active {
    background-color: black;
}

div.mf-footer-area {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.mf-footer-left {
    justify-content: flex-start;
}

div.mf-footer-center {
    justify-content: center;
}

div.mf-footer-right {
    justify-content: flex-end;
}

div.mf-footer-space-between {
    justify-content: space-between;
}

div.mf-footer-space-around {
    justify-content: space-around;
}

div.mf-footer-space-evenly {
    justify-content: space-evenly;
}

div.mf-footer-area>button {
    margin-left: 30px;
    font-size: 14px;
}

.mf-close-icon {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: center;
    line-height: 68px;
    color: #aaa;
    font-size: 26px;
}

.mf-close-icon:hover,
.mf-close-icon:focus {
    color: #606870;
    text-decoration: none;
    cursor: pointer;
}

/* Main Button Class */
.mf-btn {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: black;
    background: none;
    border: none;
    border-radius: 7px;
    /* Auto width with padding left & right allows for a dynamic button width */
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s ease;
}

.mf-btn:active {
    transform: translateY(1px);
}

/* Default buttons */
.mf-default-btn {
    color: gray;
    background: none;
}

.mf-default-btn:hover {
    background: rgba(50, 50, 50, .1);
    border-radius: 7px;
    color: #333333;
    font-weight: 600;
}

/* Primary button */
.mf-primary-btn {
    color: white;
    background: #007bff;
}

.mf-primary-btn:hover {
    font-weight: 600;
    background: #0055D9;
}

/* Secondary button */
.mf-secondary-btn {
    background: #868e96;
    color: white;
}

.mf-secondary-btn:hover {
    background: #606870;
    font-weight: 600;
}

/* Success button */
.mf-success-btn {
    color: white;
    background: #28a745;
}

.mf-success-btn:hover {
    background: #02811F;
    font-weight: 600;
}

/* Danger button */
.mf-danger-btn {
    background: #dc3545;
    color: white;
}

.mf-danger-btn:hover,
.mf-danger-btn:focus {
    background: #B60F1F;
    font-weight: 600;
}

/* Warning button */
.mf-warning-btn {
    background: #ffc107;
    color: white;
}

.mf-warning-btn:hover,
.mf-warning-btn:focus {
    background: #D99B00;
    font-weight: 600;
}

/* Info button */
.mf-info-btn {
    background: #17a2b8;
    color: white;
}

.mf-info-btn:hover,
.mf-info-btn:focus {
    background: #007C92;
    font-weight: 600;
}